<div class="container">
    <h1 class="text-center my-3">Todo List by Yogesh dahatonde</h1>

    <form (ngSubmit)="onSubmit()" class="card p-4 mb-3">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" [(ngModel)]="title" class="form-control" name="title" id="title"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Password</label>
            <input type="text" [(ngModel)]="desc" class="form-control" name="desc" id="desc">
        </div>

        <button type="submit" class="btn btn-primary btn-sm">Add Todo</button>
    </form>
</div>